.md-toolbar-tools {
  h1 {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
    
    span {
      font-size: 70%;
    }
  }
  
  img {
    max-height: 48px;
    max-width: 25%;
    display: block;
    padding: 5px 15px 0 0;
  }
}

@media print {
  .page-break {
    page-break-after: always;
  }
  
  md-content {
    overflow: visible;
  }
  
  md-toolbar:not(.md-menu-toolbar) {
    color: #000;
    background-color: #fff;
  }
  
  .md-button {
    display: none;
  }
}