.welcome-ctrl {
  text-align: center;
  
  .buttons {
    a, .material-icons {
      font-size: 150%;
    }
    
    .md-button {
      padding: 10px 15px;
    }
  }
}

.race-list-ctrl {
  .races {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .race {
    margin: 0 0 15px 0;
    padding: 0 0 15px 0;
    border-bottom: 1px solid @borderColor;
    
    h2 {
      margin: 0;
    }
    
    > div {
      margin: 0 0 7px 0;
    }
  }
}