<div class="welcome-ctrl">
  <h1>Welcome to Neutron Racer v{{ version }}</h1>
  <div class="buttons">
    <md-button href="#/new-race" class="md-primary md-raised">
      <md-icon>add</md-icon> New Race
    </md-button>
    <md-button href="#/races" class="md-primary md-raised">
      <md-icon>list</md-icon> Stored Races
    </md-button>
  </div>
  <div ng-if="notif.available && !notif.subscription">
    <br>
    <md-button class="md-raised" ng-click="subscribe()">
      <md-icon>notifications_active</md-icon> Get Release Notifications & News
    </md-button>
  </div>
</div>